[Desktop Entry]
Type=Application
Name=conky
Exec=bash /home/name_user_h/Conky/run_conky.sh
StartupNotify=false
Terminal=false
Icon=/usr/share/icons/rhel_icons/apps/scalable/indicator-cpufreq.svg
Categories=System;Monitor;
