[Desktop Entry]
Type=Application
Name=conky
Exec=bash -c "sleep 15 && /home/name_user_h/Conky/conky.AppImage --daemonize"
StartupNotify=false
Terminal=false
Icon=/usr/share/icons/rhel_icons/apps/scalable/indicator-cpufreq.svg
Categories=System;Monitor;
X-GNOME-Autostart-enabled=true
