services:
  postgres:
    image: docker.io/library/postgres:16
    container_name: dev-postgres
    restart: always
    environment:
      POSTGRES_USER: devuser
      POSTGRES_PASSWORD: devpass
      POSTGRES_DB: devdb
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  mysql:
    image: docker.io/library/mysql:latest
    container_name: dev-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: devdb
      MYSQL_USER: devuser
      MYSQL_PASSWORD: devpass
    volumes:
      - ./data/mysql:/var/lib/mysql
    ports:
      - "3306:3306"

  mssql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: dev-mssql
    restart: always
    user: root
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "StrongPassw0rd!"
    volumes:
      - ./data/mssql:/var/opt/mssql
    ports:
      - "1433:1433"

  cloudbeaver:
    image: docker.io/dbeaver/cloudbeaver:latest
    container_name: cloudbeaver
    restart: always
    depends_on:
      - postgres
      - mysql
      - mssql
    ports:
      - "8978:8978"
    volumes:
      - ./data/cloudbeaver:/opt/cloudbeaver/workspace
