[Unit]
Description=Run conky on startup

[Service]
Type=simple
ExecStart=/home/name_user_h/Conky/conky.AppImage

[Install]
WantedBy=multi-user.target
